.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
**/database/*.sqlite3
**/database/db/
**/database/dbstore/
**/database/simplify/

.idea/
